//
// Carousel
// --------------------------------------------------


// Wrapper for the slide container and indicators
.carousel {
  position: relative;
  border: 10px solid #bbe8e7;
  border-radius: 20px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  background: #fff;
  border-radius: 10px;
  min-height: 300px;

  > .item {
    // opacity: 0;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    padding: 15px;
    // .transition(1s opacity);

    @media ( min-width: @screen-sm ) {
      padding: 100px @line-height-computed * 2 @line-height-computed * 2;
    }

    // Account for jankitude on images
    > img,
    > a > img {
      &:extend(.img-responsive);
      line-height: 1;
    }
  }

  > .active {
    // opacity: 1;
    position: relative;
  }

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  display: block;
  border-radius: 50%;
  background: #fff;
  border: 10px solid #bbe8e7;
  padding-top: 18px;
  padding-bottom: 18px;  
  font-size: 18px;
  color: #bbe8e7;
  .square( @line-height-computed * 4 );

  position: absolute;
  top: @line-height-computed * 12;

  &.left {
    left: -40px;
    padding-left: 16px;
  }

  &.right {
    right: -40px;
    padding-left: 30px;
  }
}

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {

}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {

}


// Scale up controls for tablets and up
@media screen and (min-width: @screen-sm-min) {

}
