body {
	background: @body-bg url(../img/footer-bg-1.png) no-repeat center bottom;
	background-size: 100%;
	overflow-x: hidden;
}

a {
	.transition( color .3s );
	outline: none !important;
}

img {
	max-width: 100%;
	height: auto;	
}

.btn-lg {
	@media ( max-width: @screen-xs-max ) {
		font-size: 14px;
	}
}

.site {
	background: url(../img/header-cloud.png) no-repeat center -@line-height-computed * 2;
	min-height: 100vh;
	padding-bottom: 260px;
	position: relative;
	overflow: hidden;

	@media ( max-width: @screen-xs-max ) {
		background-size: 100% auto;
		background-position: 0 0;
		padding-bottom: 70px;
	}

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		background: url(../img/footer-bg.png) no-repeat center bottom;

		position: absolute;
		bottom: 0;

		@media ( max-width: @screen-md )  { 
			background-size: 100% auto;
		}
	}
}

.site-header {
	position: relative;
	text-align: center;
	z-index: 1;
	padding: @line-height-computed / 4 0 @line-height-computed;

	@media ( min-width: @screen-sm ) {
		padding: @line-height-computed 0 (@line-height-computed * 2);
	}

	.site-brand {
		display: inline-block;

		@media ( max-width: @screen-xs-max ) {
			img {
				width: 50%;
			}
		}
	}

	.fb-login-button {
		display: none;

		@media ( min-width: @screen-sm ) {
			display: inline-block;
		}
	}
}

.site-nav {
	position: relative;
	z-index: @zindex-navbar;
	margin-bottom: @line-height-computed;

	@media ( max-width: @screen-xs-max ) {
		margin-top: @line-height-computed;
	}

	.navbar-toggle {
		border: none;
		background: #fff;
		border-radius: @border-radius-base;
		margin-bottom: @line-height-computed / 2;
		text-align: center;
		padding: @line-height-computed / 4;
		display: block;
		width: 100%;
		outline: none !important;
		.box-shadow( 0 0 5px rgba(0,0,0,.3) );

		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		color: @brand-primary;
	}

	.main-nav {
		list-style: none;
		padding: @line-height-computed / 4;
		margin: 0;
		background: #fff;
		border-radius: @border-radius-base;
		text-align: center;
		.box-shadow( 0 0 5px rgba(0,0,0,.3) );

		@media ( min-width: @screen-sm ) {
			display: block;
			visibility: visible;
			height: auto !important;
		}

		li {
			display: block;

			@media ( min-width: @screen-sm ) {
				display: inline-block;
			}
		}

		a {
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			padding: (@line-height-computed / 4) (@line-height-computed / 2 - 2);
			display: block;

			@media ( min-width: @screen-md ) {
				font-size: 16px;
			}

			@media ( min-width: @screen-lg ) {
				font-size: 18px;
			}
		}

		.active {
			background: @brand-primary;
			border-radius: @border-radius-base;

			a {
				color: #fff;
			}
		}
	}
}

.site-main {
	.container {
		position: relative;
		@media ( min-width: @screen-sm ) {
			.home-page & {
				min-height: 695px;
			}
			
			.tri-thong-minh & {
				min-height: 960px;

				@media( min-width: @screen-md ) {
					min-height: 805px;
				}
			}
		}
	}
}

.container-sm {
	max-width: 730px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	@media ( max-width: @screen-xs-max ) {
		padding: 0 15px;
	}
}

.main-content {
	> .container {	
		background: #fff;
		border-radius: @border-radius-base;
		min-height:  ~'calc( 100vh - 411px )';

		@media ( max-width: @screen-xs-max ) {
			margin-left: 15px;
			margin-right: 15px;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.page-content {
	padding: @grid-gutter-width / 2;
}

.button-ads {
	margin-top: @line-height-computed;
}

// Cloud 
// ===============================

.block-cloud {
	position: relative;
	display: block !important;

	@media ( max-width: @screen-xs-max ) {
		margin: 50px 0; 
	}

	@media ( min-width: @screen-sm ) {
		position: absolute !important;
		display: inline-block;
		z-index: 2;
	}

	.bg-cloud {
		background: url(../img/cloud-1.png) no-repeat center;
		display: block;
		margin: 0 auto;
		.size( 257px, 137px );
	}

	.bg-obj {
		display: block;
		position: absolute;
		background: no-repeat center;

		@media ( max-width: @screen-xs-max ) {
			background-size: 50%;
			left: 50% !important;
			bottom: 45px !important;
			top: auto !important;			
			.translate( -50%, 0 );
		}
	}

	.text {
		font-size: 20px;
		line-height: 1;
		font-weight: bold;
		position: absolute;
		width: 100%;
		text-align: center;
		text-transform: capitalize;

		@media ( max-width: @screen-xs-max ) {
			br {
				display: none;
			}

			font-size: 16px;
			left: 0 !important;
			bottom: 55px !important;
		}
	}
	
	&.cuoc-thi-anh {
		z-index: 3;
		@media ( min-width: @screen-sm ) {
			top: 100px !important;
	  		left: 70px !important;
		}

		@media ( min-width: @screen-md ) {
			top: 150px !important;
			left: 364px !important;
		}

		.bg-obj {
			background-image: url( ../img/8.png );
			bottom: 65px;
	  		left: 0;
			.size( 170px, 152px );
		}
		
		.text {
			bottom: 40px;
		}
	}

	&.tri-thong-minh {
		z-index: 3;
		@media ( min-width: @screen-sm ) {
			top: 217px !important;
	  		left: 400px !important;
		}

		@media ( min-width: @screen-md ) {
			top: 115px !important;
			left: 670px !important;
		}

		.bg-obj {
			background-image: url( ../img/7.png ); 
			display: block;
			position: absolute;
			bottom: 60px;
	  		left: -40px; 
			.size( 161px, 156px );
		}
		
		.text {
			bottom: 40px;
			left: 25px;
		}
	}

	&.hoi-dap {
		z-index: 3;

		@media ( min-width: @screen-sm ) {
			top: 410px !important;
	  		left: 330px !important;
		}

		@media ( min-width: @screen-md ) {
			top: 305px !important;
			left: 678px !important;
		}

		.bg-obj {
			background-image: url( ../img/6.png ); 
			display: block;
			position: absolute;
			bottom:35px;
	  		left: 30px; 
			.size( 122px, 149px );
		}
		
		.text {
			bottom: 33px;
			left: 25px;
		}
	}

	&.trac-nghiem {
		@media ( min-width: @screen-sm ) {
			top: 580px !important;
	  		left: 335px !important;
	  	}

		@media ( min-width: @screen-md ) {
			top: 310px !important;
			left: 365px !important;
		}

		.bg-obj {
			background-image: url( ../img/airship.png ); 
			display: block;
			position: absolute;
			top: -310px;
			left: -305px;
			.size( 659px, 519px );

			@media ( max-width: @screen-xs-max ) {
				background-size: 40%;
				top: -220px !important;
				margin-left: -35px;
			}
		}
		
		.text {
			bottom: 47px;
			left: 0;
		}
	}
	
	// Tri thong minh

	&.am-nhac {
		@media ( min-width: @screen-sm ) {
			top: 255px !important;
	  		left: 0 !important;
	  	}

  		@media ( min-width: @screen-md ) {
			top: 255px !important;
  			left: -20px !important;  			
  		}

		@media ( min-width: @screen-lg ) {
			top: 255px !important;
			left: 15px !important;
		}

		.bg-obj {
			background-image: url( ../img/3.png ); 
			display: block;
			position: absolute;
			top: -85px;
  			left: 30px;
			.size( 169px, 156px );
		}
		
		.text {
			bottom: 35px;
			left: 0;
		}
	}

	&.tuong-tac {
		@media ( min-width: @screen-sm ) {
	  		top: 225px !important;
	  		left: 440px !important;
	  	}

  		@media ( min-width: @screen-md ) {
			top: 275px !important;
  			left: 370px !important;
  		}

		@media ( min-width: @screen-lg ) {
			top: 275px !important;
			left: 415px !important;
		}
		
		.bg-cloud {
			background-image: url(../img/cloud-2.png);
		}

		.bg-obj {
			background-image: url( ../img/1.png ); 
			display: block;
			position: absolute;
			top: -90px;
			left: -130px;
			.size( 265px, 219px );
		}
		
		.text {
			bottom: 65px;
			left: 20px;
			z-index: 2;
		}
	}

	&.ngon-ngu {
		@media ( min-width: @screen-sm ) {
			top: 445px !important;
	  		left: 165px !important;
	  	}

  		@media ( min-width: @screen-md ) {
			top: 235px !important;
  			left: 705px !important;
  		}

		@media ( min-width: @screen-lg ) {
			top: 235px !important;
			left: 760px !important;
		}

		.bg-obj {
			background-image: url( ../img/2.png ); 
			display: block;
			position: absolute;
			top: -25px;
			left: -75px;
			.size( 173px, 137px );
		}
		
		.text {
			bottom: 50px;
			left: 20px;
		}
	}

	&.thien-nhien {
		@media ( min-width: @screen-sm ) {
	  		top: 460px !important;
	  		left: 470px !important;
	  	}

  		@media ( min-width: @screen-md ) {
			top: 460px !important;
  			left: 535px !important;
  		}

		.bg-obj {
			background-image: url( ../img/4.png ); 
			display: block;
			position: absolute;
			top: -87px;
			left: 40px;
			.size( 182px, 144px );
		}
		
		.text {
			bottom: 45px;
			left: 0px;
		}
	}

	&.van-dong {
		@media ( min-width: @screen-sm ) {
			top: 600px !important;
			left: 115px !important;
		}

  		@media ( min-width: @screen-md ) {
			top: 430px !important;
  			left: 230px !important;
  		}

		.bg-obj {
			background-image: url( ../img/5.png ); 
			display: block;
			position: absolute;
			top: 30px;
			left: -90px;
			.size( 181px, 143px );
		}
		
		.text {
			bottom: 45px;
			left: 30px;
		}
	}

	&.khong-gian {
		@media ( min-width: @screen-sm ) {
			top: 815px !important;
	  		left: 290px !important;
	  	}

  		@media ( min-width: @screen-md ) {
			top: 630px !important;
  			left: 582px !important;
  		}

		@media ( min-width: @screen-lg ) {
			top: 630px !important;
			left: 650px !important;
		}

		.bg-obj {
			background-image: url( ../img/8.png ); 
			display: block;
			position: absolute;
			top: -35px;
			left: 200px;
			.size( 170px, 153px );
		}
		
		.text {
			bottom: 50px;
			left: 0;
		}
	}

	&.logic {
		@media ( min-width: @screen-sm ) {
			top: 635px !important;
			left: 452px !important;
		}

  		@media ( min-width: @screen-md ) {
			top: 635px !important;
  			left: 309px !important;
  		}

		@media ( min-width: @screen-lg ) {
			top: 635px !important;
			left: 380px !important;
		}

		.bg-obj {
			background-image: url( ../img/7.png ); 
			display: block;
			position: absolute;
			top: -25px;
			left: -75px;
			.size( 161px, 156px );
		}
		
		.text {
			bottom: 50px;
			left: 20px;
		}
	}

	&.nhan-thuc {
		@media ( min-width: @screen-sm ) {
			top: 785px !important;
			left: 36px !important;
		}

  		@media ( min-width: @screen-md ) {
			top: 635px !important;
  			left: -23px !important;
  		}

		@media ( min-width: @screen-lg ) {
			top: 635px !important;
			left: 20px !important;
		}
		
		.bg-cloud {
			background-image: url(../img/cloud-2.png);
		}

		.bg-obj {
			background-image: url( ../img/6.png ); 
			display: block;
			position: absolute;
			top: 10px;
			left: 5px;
			.size( 122px, 149px );
		}
		
		.text {
			bottom: 75px;
			left: 35px;
		}
	}

	&.plane {
		left: 95px !important;
		top: 50px !important;
		right: 50px;
		z-index: 1;
		display: block;		

		@media ( max-width: @screen-xs-max ) {
			display: none !important;
		}

		@media ( min-width: @screen-md ) {
			right: 0;
  		}
	}
}

.cloud-parallax {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
		
	.layer {
		transform-style: flat !important;

		@media ( min-width: @screen-sm ) {
			position: absolute;
		}

		@media ( max-width: @screen-xs-max ) {
			display: none;
		}
	}

	.layer-inner {
		position: relative;
	}

	@media ( min-width: @screen-sm ) {
		.cloud-1 {
			top: 0px !important;
	  		left: 385px !important;

			@media ( min-width: @screen-md ) {
				top: 310px !important;
				left: -200px !important;
			}
		}

		.cloud-2 {
			top: 255px !important;
	  		left: 110px !important;

			@media ( min-width: @screen-md ) {
				top: 570px !important;
				left: 70px !important;
			}
		}

		.cloud-3 {
			top: 325px !important;
			left: 665px !important;

			@media ( min-width: @screen-md ) {
				top: 500px !important;
				left: 440px !important;
			}
		}

		.cloud-4 {
			top: 525px !important;
	  		right: -125px !important;
			left: auto !important;

			@media ( min-width: @screen-md ) {
				top: 215px !important;
				right: -200px !important;
			}
		}

		.cloud-5 {
			top: 535px !important;
	  		right: 489px !important;
			left: auto !important;

			@media ( min-width: @screen-md ) {
				top: 590px !important;
				right: -95px !important;
			}
		}

		// Tri thong minh 

		.cloud-6 {
			top: 25px !important;

			img {
				opacity: .6;
			}
		}

		.cloud-7 {
			top: 146px !important;
  			left: 237px !important;

			@media ( min-width: @screen-md ) {
				top: 135px !important;
				left: 880px !important;
	  		}

			img {
				width: 125px;
				height: auto;
			}
		}

		.cloud-8 {
			top: 455px !important;
			left: -45px !important;

			img {
				width: 125px;
				height: auto; 
				opacity: .7;
			}
		}

		.cloud-9 {
			top: 335px !important;
  			left: 348px !important;

			@media ( min-width: @screen-md ) {
				top: 420px !important;
				left: 815px !important;
	  		}

			img {
				opacity: .5;
			}
		}
	}
}

// Modal home
// ===============================

.modal-home-page {
	background: @body-bg url(../img/footer-bg-1.png) no-repeat center bottom;
	background-size: 100%;
	height: 540px;

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		background: url(../img/footer-cloud.png) no-repeat center bottom;

		position: absolute;
		bottom: 0;
	}

	.continue {
		position: absolute;
		bottom: @line-height-computed;
		text-align: center;
		margin-left: -25%;
		left: 50%;
		width: 50%;

		.note {
			margin-top: @line-height-computed / 2;
			display: block;
			font-size: @font-size-large;
			color: @gray-lighter;

			&:hover {
				color: @brand-primary;
			}
		}
	}

	.test {
		position: absolute;
		top: 50px;
		left: 50%;
		margin-left: -(540px / 2);

		span {
			font-weight: bold;
			font-size: 18px;
			position: absolute;
			text-align: center;
			top: 53%;
			left: 0;
			line-height: 1.1;
			width: 100%;
			color: @brand-primary;
		}
	}
}

// Profile
// ===============================

.top-profile-detail {
	position: relative;
	left: -40px;
	top: 65px;
	z-index: 2;
}

.profile-header {
	text-align: center;
	position: relative;
}

.profile-title {
	margin: 0 0 @line-height-computed;
	padding: @line-height-computed / 2;
	background: @brand-primary;
	border-radius: 20px;
	color: #fff;
	display: block;
	position: relative;
	font-size: 26px;

	@media ( min-width: @screen-sm ) {
		font-size: @font-size-h1;
		padding: @line-height-computed @line-height-computed * 4;
		margin: 0 0 @line-height-computed * 3;
		display: inline-block;
	}
}

.profile-title-bg {
	z-index: 1;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	display: inline-block;

	&.ngon-ngu {
		.size(173px / 2, 137px / 2);
		background-image: url(../img/2.png);

		@media ( min-width: @screen-sm ) {
			top: 55px;
			left: 50px;
			margin-left: -50px;
			margin-top: -55px;
			.size(173px, 137px);
		}
	}

	&.am-nhac {
		.size(169px / 2, 156px / 2);
		background-image: url(../img/3.png);

		@media ( min-width: @screen-sm ) {
			.size(169px, 156px);
			top: 40px;
			left: 55px;
			margin-top: -40px;
			margin-left: -55px;			
		}
	}

	&.tuong-tac {
		.size(265px / 2, 219px / 2);
		background-image: url(../img/1.png);

		@media ( min-width: @screen-sm ) {
			.size(265px, 219px);
			top: 55px;
			left: 90px;
			margin-top: -55px;
			margin-left: -90px;
		}
	}

	&.van-dong {
		.size(181px / 2, 143px / 2);
		background-image: url(../img/5.png);

		@media ( min-width: @screen-sm ) {
			.size(181px, 143px);
			top: 55px;
			left: 50px;
			margin-top: -55px;
			margin-left: -50px;
		}
	}

	&.thien-nhien {
		.size(182px / 2, 144px / 2);
		background-image: url(../img/4.png);

		@media ( min-width: @screen-sm ) {
			.size(182px, 144px);
			top: 45px;
			left: 50px;
			margin-top: -45px;
			margin-left: -50px;
		}
	}

	&.nhan-thuc {
		.size(122px / 2, 149px / 2);
		background-image: url(../img/6.png);
		
		@media ( min-width: @screen-sm ) {
			.size(122px, 149px);
			top: 40px;
			left: 32px;
			margin-top: -40px;
			margin-left: -32px;
		}
	}

	&.logic {
		.size(161px / 2, 156px / 2);
		background-image: url(../img/7.png);

		@media ( min-width: @screen-sm ) {
			.size(161px, 156px);
			top: 55px;
			left: 50px;
			margin-top: -55px;
			margin-left: -50px;
		}
	}


	&.khong-gian {
		.size(170px / 2, 153px / 2);
		background-image: url(../img/8.png);
	
		@media ( min-width: @screen-sm ) {
			.size(170px, 153px);
			top: 55px;
			left: 50px;
			margin-top: -55px;
			margin-left: -50px;
		}
	}

}

.fb-comments-wrap {	
	padding: @line-height-computed 0 0;
}

.fb-like {
	margin-bottom: @line-height-computed;
}